{% extends "base.html" %}
{% block content %}
        <div id="indexcontent">
            <!-- Circular Stock -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "proName": "FOREXCOM:SPXUSD",
        "title": "S&P 500"
      },
      {
        "proName": "FOREXCOM:NSXUSD",
        "title": "US 100"
      },
      {
        "proName": "FX_IDC:EURUSD",
        "title": "EUR/USD"
      },
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "Bitcoin"
      },
      {
        "proName": "BITSTAMP:ETHUSD",
        "title": "Ethereum"
      }
    ],
    "showSymbolLogo": true,
    "colorTheme": "light",
    "isTransparent": false,
    "displayMode": "adaptive",
    "locale": "in"
  }
    </script>
  </div>
  <!-- Circular Stock END -->
            <form action="" method="post">
                <div class="container">
                    <div class="row mt-3">
                        <div class="col-4">
                         <!-- 3 stock widget -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget" ></div>
    
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
    {
    "symbol": "NASDAQ:META",
    "width": 350,
    "height": 220,
    "locale": "in",
    "dateRange": "12M",
    "colorTheme": "light",
    "trendLineColor": "rgba(41, 98, 255, 1)",
    "underLineColor": "rgba(41, 98, 255, 0.3)",
    "underLineBottomColor": "rgba(41, 98, 255, 0)",
    "isTransparent": false,
    "autosize": false,
    "largeChartUrl": ""
  }
    </script>
  </div>
                        </div>
                        <div class="col-4">
                         
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>

    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
    {
    "symbol": "NASDAQ:AAPL",
    "width": 350,
    "height": 220,
    "locale": "in",
    "dateRange": "12M",
    "colorTheme": "light",
    "trendLineColor": "rgba(41, 98, 255, 1)",
    "underLineColor": "rgba(41, 98, 255, 0.3)",
    "underLineBottomColor": "rgba(41, 98, 255, 0)",
    "isTransparent": false,
    "autosize": false,
    "largeChartUrl": ""
  }
    </script>
  </div>
  </div>
  <div class="col-4">
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
    {
    "symbol": "NASDAQ:AMZN",
    "width": 350,
    "height": 220,
    "locale": "in",
    "dateRange": "12M",
    "colorTheme": "light",
    "trendLineColor": "rgba(41, 98, 255, 1)",
    "underLineColor": "rgba(41, 98, 255, 0.3)",
    "underLineBottomColor": "rgba(41, 98, 255, 0)",
    "isTransparent": false,
    "autosize": false,
    "largeChartUrl": ""
  }
    </script>
  </div>
  
  </div>
                        </div>
                    </div>
                     <!-- 3 stock widget -->
                    <div class="row mt-3 ">
                        <div class="col-12">
                             <!-- Full stock widget -->
                            <span class="tradingview-widget-container">
                                <div id="tradingview_04098" onclick="check()"></div>
                              
                                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                <script type="text/javascript">
                                    new TradingView.widget(
                                        {
                                            "width": 1000,
                                            "height": 600,
                                            "symbol": "NASDAQ:AAPL",
                                            "timezone": "Etc/UTC",
                                            "theme": "light",
                                            "style": "1",
                                            "locale": "in",
                                            "toolbar_bg": "#f1f3f6",
                                            "enable_publishing": false,
                                            "withdateranges": true,
                                            "range": "YTD",
                                            "hide_side_toolbar": false,
                                            "allow_symbol_change": true,
                                            "details": true,
                                            "hotlist": false,
                                            "calendar": false,
                                            "show_popup_button": false,
                                            "popup_width": "1000",
                                            "popup_height": "650",
                                            "container_id": "tradingview_04098"
                                        }
                                    );
                                </script>
                            </span>
                        </div>

                    </div>
                      <!-- Full stock widget End -->
                    <div class="row mt-5">
                        <!-- 2 stock analysis -->
                        <div class="col-6">
                            <!-- <div class="tradingview-widget-container"> -->
                                <div class="tradingview-widget-container__widget"></div>
                              
                                <script type="text/javascript"
                                    src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js"
                                    async>
                                        {
                                        "interval": "1m",
                                        "width": '425px',
                                        "isTransparent": false,
                                        "height": '450px',
                                        "symbol": "NASDAQ:AAPL",
                                        "showIntervalTabs": true,
                                        "locale": "in",
                                        "colorTheme": "light"
                                        }
                                </script>
                            <!-- </div> -->

                        </div>
                        <div class="col-6">
                            
                            <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
    {
    "colorTheme": "light",
    "dateRange": "12M",
    "showChart": true,
    "locale": "in",
    "largeChartUrl": "",
    "isTransparent": false,
    "showSymbolLogo": true,
    "showFloatingTooltip": true,
    "width": "400",
    "height": "660",
    "plotLineColorGrowing": "rgba(41, 98, 255, 1)",
    "plotLineColorFalling": "rgba(41, 98, 255, 1)",
    "gridLineColor": "rgba(240, 243, 250, 0)",
    "scaleFontColor": "rgba(106, 109, 120, 1)",
    "belowLineFillColorGrowing": "rgba(41, 98, 255, 0.12)",
    "belowLineFillColorFalling": "rgba(41, 98, 255, 0.12)",
    "belowLineFillColorGrowingBottom": "rgba(41, 98, 255, 0)",
    "belowLineFillColorFallingBottom": "rgba(41, 98, 255, 0)",
    "symbolActiveColor": "rgba(41, 98, 255, 0.12)",
    "tabs": [
      {
        "title": "Indices",
        "symbols": [
          {
            "s": "NASDAQ:AAPL"
          },
          {
            "s": "NASDAQ:TSLA"
          },
          {
            "s": "NASDAQ:AMZN"
          },
          {
            "s": "NASDAQ:MSFT"
          },
          {
            "s": "NASDAQ:NFLX"
          },
          {
            "s": "NASDAQ:GOOGL"
          },
          {
            "s": "NYSE:TWTR"
          },
          {
            "s": "NYSE:MA"
          },
          {
            "s": "NYSE:SPOT"
          }
        ],
        "originalTitle": "Indices"
      },
      {
        "title": "Futures",
        "symbols": [
          {
            "s": "CME_MINI:ES1!",
            "d": "S&P 500"
          },
          {
            "s": "CME:6E1!",
            "d": "Euro"
          },
          {
            "s": "COMEX:GC1!",
            "d": "Gold"
          },
          {
            "s": "NYMEX:CL1!",
            "d": "Crude Oil"
          },
          {
            "s": "NYMEX:NG1!",
            "d": "Natural Gas"
          },
          {
            "s": "CBOT:ZC1!",
            "d": "Corn"
          }
        ],
        "originalTitle": "Futures"
      },
      {
        "title": "Bonds",
        "symbols": [
          {
            "s": "CME:GE1!",
            "d": "Eurodollar"
          },
          {
            "s": "CBOT:ZB1!",
            "d": "T-Bond"
          },
          {
            "s": "CBOT:UB1!",
            "d": "Ultra T-Bond"
          },
          {
            "s": "EUREX:FGBL1!",
            "d": "Euro Bund"
          },
          {
            "s": "EUREX:FBTP1!",
            "d": "Euro BTP"
          },
          {
            "s": "EUREX:FGBM1!",
            "d": "Euro BOBL"
          }
        ],
        "originalTitle": "Bonds"
      },
      {
        "title": "Forex",
        "symbols": [
          {
            "s": "FX:EURUSD",
            "d": "EUR/USD"
          },
          {
            "s": "FX:GBPUSD",
            "d": "GBP/USD"
          },
          {
            "s": "FX:USDJPY",
            "d": "USD/JPY"
          },
          {
            "s": "FX:USDCHF",
            "d": "USD/CHF"
          },
          {
            "s": "FX:AUDUSD",
            "d": "AUD/USD"
          },
          {
            "s": "FX:USDCAD",
            "d": "USD/CAD"
          }
        ],
        "originalTitle": "Forex"
      }
    ]
  }
    </script>
  </div>
  <!-- TradingView Widget END -->
                          <!-- 2 stock analysis -->
                        </div>
                    </div>
                    
                    <!-- <label>Check</label> -->
                </form>
            </div>
        </div>
    </div>

    {% endblock %}